:root {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: fixed no-repeat url(images/razor.jpg);
    /*the background image belongs to his owner, Bernardo Massas, I do not own any rights on the images*/
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  body {
    margin: 0vh;
    padding: -1vh;
  }

  header {
    height: 10 vh;
    padding-top: 2vh;
    display: flex;
    justify-content: end;
  }
  
  .buttons {
    display: flex;;
    gap: 1vh;
    margin-right: 5vh;
    justify-content: right;
  }
 
  .buttons button{
    padding: 1vh;
    border-color: #92552c;
    border-style: solid;
    border-radius: 1vh;
    background-color: #fefae0ab;
    font-size: 2.2vh;
    text-decoration: none;
  }

  .buttons button:hover {
    background-color: #fefae054;
    color: #fefae0;
    box-shadow: 0.5vh 0.5vh 0.5vh rgb(176, 173, 173);
  }

  .buttons a {
    color: #8b3f0c;
    text-decoration: none;
  }

  .about,
  .about-info {
    display: flex;
    justify-content: space-around;
    padding: 5vh;
  }
  
  .img {
    height: 35vh;
  }

  .about-info {
    flex-direction: column;
    font-size: 2.7vh;
  }

  .services-section,
  .services {
    display: flex;
    flex-direction: column;
    background-color: #fefae054;
    }

  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92552c;
    list-style-type: none;
  }

  .services-list a {
    color: #92552c;
    padding: 1vh 2.5vh;
    border-radius: 1vh;
    font-size: 2.2vh;
    text-decoration: none;
  }

  .services-list a:hover {
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(176, 173, 173, 0.725)
  }

  .services-list img {
    height: 5vh;
    align-items: center;
  }

  .agenda {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .agenda-header,
  .agenda-date {
    display: flex;
    justify-content: space-around;
  }

  .agenda-header {
    color: #FEFAE0;
    margin-right: 2vh;
  }

  .datetime,
  .submit {
    height: 4vh;
    background-color: #FEFAE0;
    border-radius: 1vh;
  }

  .submit {
    height: 4.6vh;
    margin-left: 1vh;
  }

  .submit:hover {
    box-shadow: 0.5vh 0.5vh 0.5vh #bc6b2573;
  }

  .location {
    background-color: #fefae054;
    display: flex;
    padding-bottom: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FEFAE0;
  }

  .contact {
    height: 20vh;
    background-color: #8b3f0c;
    display: flex;
    flex-direction: column;
  }

  .contact img {
    height: 10vh;
  }

  .social-media {
    display: flex;
    align-items: center; 
    justify-content: center;
    list-style-type: none;
    gap: 5vh;
  }

  .card {
    padding: 3vh;
    border-radius: 0.5vh;
  }

  footer {
    height: 10vh;
    background: #BC6C25ab;
    color: #FEFAE0;
    display: flex;
    justify-content: center;
    align-items: center;
  }